<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ncu.folder_of_seniors">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".module.ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.ui.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.widget.SelectPopupWindow"
            android:theme="@style/MyDialogStyleBottom"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.ChangeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.LaunchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.ResourceDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.PersonalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.MyStarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.MySelledActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.MyBoughtActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.MyLaunchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.SellEditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.FollowListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.ReviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.ui.activity.ChatActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="ncu.folder_of_seniors.BmobContentProvider">
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ncu.folder_of_seniors"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <!--TODO 集成：1.5、配置IM SDK需要的广播和服务-->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="9d71c7a739c158713d6ad5b0180ba640"/>
        <meta-data
            android:name="BMOB_PUSH_CLASS"
            android:value=".module.receiver.NetReceiver">
        </meta-data>
        <receiver android:name=".module.receiver.NetReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>